---
layout: default
title: Meetup &#35;7
---

<h2>Meetup #7</h2>
<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, October 22th, 2013</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    ŠMTP<br />
    J. Galvydžio g. 5, Vilnius
  </div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="http://github.com/pauliusnorkus">
          <img src="http://gravatar.com/avatar/8023b0535364c5f33a7502dbc9886aba?s=70" alt="" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Paulius Norkus</strong>
      <div>Introduction to Ember.js</div>
    </div>
  </div>

  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="http://github.com/bytasv">
          <img src="http://gravatar.com/avatar/e581913e809113def83438469fdbe51e?s=70" alt="" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Vytautas Butkus</strong>
      <div>
        <a href="http://www.slideshare.net/bytasv/testing-javascript-26338391">Testing your JavaScript code</a>
      </div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="ten columns">
    {% include vinted.html %}
    {% include estina.html %}
  </div>
</div>
