---
layout: default
title: Meetup &#35;8
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, December 12th, 2013</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    ŠMTP<br />
    J. Galvydžio g. 5, Vilnius
  </div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="http://twitter.com/dymonaz">
          <img src="http://gravatar.com/avatar/760ee07e2a7c2a05ac35a981276c6a29?s=70" alt="" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Dominykas Blyžė</strong>
      <div>
        <a href="http://dominykas.net/19">npm ftw</a>
      </div>
    </div>
  </div>

  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/dummas">
          <img src="http://gravatar.com/avatar/fe902e8289a5bfc8cd6b83363c3e4a22?s=70" alt="" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Maksim Norkin</strong>
      <div>
        <a href="https://speakerdeck.com/dummas/d3-data-user-interaction">D3: Data, User, Interaction</a>
      </div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="ten columns">
    {% include vinted.html %}
    {% include estina.html %}
  </div>
</div>
