---
layout: default
title: Meetup &#35;14
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, January 20th, 2015</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Alaus studija<br />
    S.Žukausko g. 20, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/shahata">
          <img src="/img/shahar_talmi.png" alt="Shahar Talmi" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Shahar Talmi</strong>
      <div>Building large scale Angular applications</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/nikaspran">
          <img src="/img/nikas_praninskas.png" alt="Nikas Praninskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Nikas Praninskas</strong>
      <div>Web Components: the near future of Web development</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="ten columns">
    {% include wix.html %}
    {% include vinted.html %}
  </div>
</div>
