---
layout: default
title: Vilnius.js Meetup &#35;18
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, December 8th, 2015</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Adform Lithuania office<br />
    Sporto g. 18, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/226857527/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/reskir">
          <img src="/img/kiril_abaškin.png" alt="Kiril Abaškin" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Kiril Abaškin</strong>
      <div>Living Style Guides</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/masiulis">
          <img src="/img/karolis_masiulis.png" alt="Karolis Masiulis" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Karolis Masiulis</strong>
      <div>How to build a large scale application using Redux and React</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include adform.html %}
    {% include wix.html %}
  </div>
</div>
