---
layout: default
title: Meetup &#35;16
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, June 18th, 2015</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    WIX office<br />
    Rūdninkų g. 2, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/223173618/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/dvisockas">
          <img src="/img/danielius_visockas.jpg" alt="Danielius Visockas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Danielius Visockas</strong>
      <div>How socket.io saved my sanity</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/dominykas">
          <img src="/img/dominykas_blyžė.png" alt="Dominykas Blyžė" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Dominykas Blyžė</strong>
      <div>The sorry state of Javascript error handling</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="ten columns">
    {% include wix.html %}
    {% include vinted.html %}
  </div>
</div>
