---
layout: default
title: Meetup &#35;15
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, April 23rd, 2015</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    WIX office<br />
    Rūdninkų g. 2, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/221521767/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/giltayar">
          <img src="/img/gil_tayar.jpg" alt="Gil Tayar" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Gil Tayar</strong>
      <div>From Callback Hell to Async Heaven - Promises</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/mseimys">
          <img src="/img/matas_seimys.jpg" alt="Matas Seimys" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Matas Seimys</strong>
      <div>Dealing with file uploads</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="ten columns">
    {% include wix.html %}
    {% include vinted.html %}
  </div>
</div>
