---
layout: default
title: Vilnius.js Meetup &#35;21
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, October 6th, 2016</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Cuba Studija<br />
    Verkių g. 29, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/234410219/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/lifemichael">
          <img src="/img/haim_michael.png" alt="Haim Michael" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Haim Michael</strong>
      <div>TypeScript, Dart, CoffeeScript and JavaScript Comparison</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/mariusbalcytis">
          <img src="/img/marius_balcytis.png" alt="Marius Balčytis" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Marius Balčytis</strong>
      <div>Procedural programming for the win (not for Windows)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/avishai-ish-shalom">
          <img src="/img/avishai_ish_shalom.png" alt="Avishai Ish-Shalom" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Avishai Ish-Shalom</strong>
      <div>Future of the Operating System</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/pulni">
          <img src="/img/christian_zacharias.png" alt="Christian Zacharias" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Christian Zacharias</strong>
      <div>[To be Announced]</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include lifemichael.html %}
    {% include buildstuff.html %}
  </div>
</div>

