---
layout: default
title: Vilnius.js Meetup &#35;19
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, February 23rd, 2016</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    WIX office<br />
    Rūdninkų g. 2, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/228106900/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/edvinasbartkus">
          <img src="/img/edvinas_bartkus.png" alt="Edvinas Bartkus" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Edvinas Bartkus</strong>
      <div>Riding to the App Store on the back of React-Native</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/tobich">
          <img src="/img/jiri_tobisek.png" alt="Jiří Tobíšek" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Jiří Tobíšek</strong>
      <div>React and Type Systems</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/yanivefraim">
          <img src="/img/yaniv_efraim.png" alt="Yaniv Efraim" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Yaniv Efraim</strong>
      <div>Migrating to Angular 2.0</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include plateculture.html %}
  </div>
</div>

