---
layout: default
title: Vilnius.js Meetup November 2016
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, November 29th, 2016</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Trafi HQ<br />
    Labdarių g. 5, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/235761001/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://twitter.com/ugibugivugi">
          <img src="/img/marius_kazlauskas.png" alt="Marius Kazlauskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Marius Kazlauskas</strong>
      <div>Streaming out of promised callback hell</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/dvisockas">
          <img src="/img/danielius_visockas.jpg" alt="Danielius Visockas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Danielius Visockas</strong>
      <div>Attacking fire with fire</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include trafi.html %}
    {% include zenitech.html %}
    {% include wisemonks.html %}
    {% include wix.html %}
  </div>
</div>

