---
layout: default
title: Vilnius.js Meetup &#35;20
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, May 31st, 2016</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    WIX office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="http://www.meetup.com/Vilnius-js/events/230894016/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/GabiGrin">
          <img src="/img/gabriel_grinberg.png" alt="Gabriel Grinberg" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Gabriel Grinberg</strong>
      <div>Rethinking web development with Elm</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/adamterlson">
          <img src="/img/adam_terlson.png" alt="Adam Terlson" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Adam Terlson</strong>
      <div>Does GoogleBot Scroll? Creating SEO-friendly Apps with JavaScript (and without Node)</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include nfq.html %}
  </div>
</div>

