---
layout: default
title: Vilnius.js Meetup January 2017
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, January 26th, 2017</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Zenitech Office<br />
    Žalgirio g. 90, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/236788326/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://twitter.com/ugibugivugi">
          <img src="/img/marius_kazlauskas.png" alt="Marius Kazlauskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Marius Kazlauskas</strong>
      <div>Introduction to Cycle.js</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/zilvinasu">
          <img src="/img/zilvinas_urbonas.png" alt="Žilvinas Urbonas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Žilvinas Urbonas</strong>
      <div>Hello ClojureScript</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include zenitech.html %}
    {% include inventi.html %}
    {% include wix.html %}
  </div>
</div>

