---
layout: default
title: Vilnius.js Meetup September 2017
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">19:00, September 28th, 2017</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Wix Office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/243523761/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/masiulis">
          <img src="/img/karolis_masiulis.png" alt="Karolis Masiulis" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Karolis Masiulis</strong>
      <div>Automating the boring parts of front-end development</div>
    </div>
  </div>
  <div class="six columns">
    <strong>You!</strong>
    <p>Lightning talks and open discussions</p>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include ugnis.html %}
  </div>
</div>

