---
layout: default
title: Vilnius.js Meetup May 2017
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, May 25th, 2017</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Wix Office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/239783422/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/mantasindrasius">
          <img src="/img/mantas_indrasius.png" alt="Mantas Indrašius" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Mantas Indrašius</strong>
      <div>Universal React</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/edvinasbartkus">
          <img src="/img/edvinas_bartkus.png" alt="Edvinas Bartkus" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Edvinas Bartkus</strong>
      <div>Edvinas Bartkus - React Native @ PlateCulture</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include plateculture.html %}
  </div>
</div>

