---
layout: default
title: Vilnius.js Meetup February 2017
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, February 23th, 2017</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Tesonet Office<br />
    Jasinskio g. 16C, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/237588641/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://twitter.com/dovydasceilutka">
          <img src="/img/dovydas_ceilutka.png" alt="Dovydas Čeilutka" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Dovydas Čeilutka</strong>
      <div>Learning React in 2017</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://twitter.com/mbardauskas">
          <img src="/img/martynas_bardauskas.png" alt="Martynas Bardauskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Martynas Bardauskas</strong>
      <div>GraphQL: Take Two</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include tesonet.html %}
    {% include wix.html %}
  </div>
</div>

