---
layout: default
title: Vilnius.js Meetup August 2017
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, August 24th, 2017</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Wix Office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/242326592/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/viliusl">
          <img src="/img/vilius_lukošius.png" alt="Vilius Lukošius" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Vilius Lukošius</strong>
      <div>Building a Node.js framework and staying sane</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/ogrigas">
          <img src="/img/osvaldas_grigas.png" alt="Osvaldas Grigas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Osvaldas Grigas</strong>
      <div>Name Stuff</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include inventi.html %}
    {% include reactiveconf.html %}
  </div>
</div>

