---
layout: default
title: Vilnius.js Meetup December 2018
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, December 13th, 2018</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Wix Office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/256807786/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/oded-soffrin">
          <img src="/img/oded_soffrin.png" alt="Oded Soffrin" />
        </a>
      </div>
      <div class="gravatar">
        <a href="https://github.com/noam3kch">
          <img src="/img/noam_neeman.png" alt="Noam Neeman" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Oded Soffrin and Noam Neeman</strong>
      <div>WebAssembly - is the future of the web written in C++?</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/nedomas">
          <img src="/img/domas_bitvinskas.png" alt="Domas Bitvinskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Domas Bitvinskas</strong>
      <div>Best kept secrets for 2019: GraphQL + Prisma</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include honestive.html %}
  </div>
</div>
