---
layout: default
title: Vilnius.js Meetup March 2018
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, March 22nd, 2018</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Zenitech Office<br />
    Žalgirio g. 90, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/248444715/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/adtm">
          <img src="/img/tomas_eglinskas.png" alt="Tomas Eglinskas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Tomas Eglinskas</strong>
      <div>React: the Good, the Bad and the Ugly</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/zilvinasu">
          <img src="/img/zilvinas_urbonas.png" alt="Žilvinas Urbonas" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Žilvinas Urbonas</strong>
      <div>Real-time applications using Server-sent Events</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include zenitech.html %}
    {% include inventi.html %}
    {% include wix.html %}
  </div>
</div>
