---
layout: default
title: Vilnius.js Meetup May 2019
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, May 14th, 2019</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Vilnius Tech Park<br />
    Antakalnio g. 17, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/260939146/">Meetup event</a></div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include vilniustechpark.html %}
    {% include yglf.html %}
  </div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="twelve columns">
    <div class="four columns">
      <div class="gravatar">
        <a href="http://adrianroselli.com/">
          <img src="/img/adrian_roselli.png" alt="Adrian Roselli" />
        </a>
      </div>
    </div>
    <div class="eight columns">
      <strong>Adrian Roselli</strong>
      <div>The Role of Design in Accessibility</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="four columns">
      <div class="gravatar">
        <a href="https://dougsillars.com/">
          <img src="/img/doug_sillars.png" alt="Doug Sillars" />
        </a>
      </div>
    </div>
    <div class="eight columns">
      <strong>Doug Sillars</strong>
      <div>Building an Art Gallery in the Browser</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="two columns">
      <div class="gravatar">
        <a href="https://www.linkedin.com/in/furseyeu/">
          <img src="/img/eugene_furseyeu.png" alt="Eugene Furseyeu" />
        </a>
      </div>
    </div>
    <div class="two columns">
      <div class="gravatar">
        <a href="https://www.linkedin.com/in/roman-lyubimov-a31712160/">
          <img src="/img/roman_lyubimov.png" alt="Roman Lyubimov" />
        </a>
      </div>
    </div>
    <div class="eight columns">
      <strong>Eugene Furseyeu & Roman Lyubimov</strong>
      <div>Reactive coding patterns with RxJS: Strengths and Weaknesses</div>
    </div>
  </div>
</div>

