---
layout: default
title: Vilnius.js Meetup January 2019
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:00, January 24th, 2019</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Oberlo HQ<br />
    Upės g. 23, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/257631806/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/krystalcampioni">
          <img src="/img/krystal_campioni.png" alt="Krystal Campioni" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Krystal Campioni</strong>
      <div>Advanced animations with Vue.js: taking your interface to the next level</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/mindaugas-jacionis">
          <img src="/img/mindaugas_jacionis.png" alt="Mindaugas Jačionis" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Mindaugas Jačionis</strong>
      <div>Writing a browser extension using React + Redux stack</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include oberlo.html %}
    {% include tesonet.html %}
  </div>
</div>
