---
layout: default
title: Vilnius.js Meetup November 2019
---

<div class="row">
  <div class="two columns">When</div>
  <div class="ten columns strong">18:30, November 21st, 2019</div>
</div>
<div class="row">
  <div class="two columns">Where</div>
  <div class="ten columns strong">
    Wix Office<br />
    Didžioji g. 28, Vilnius
  </div>
</div>
<div class="row">
  <div class="two columns">Read more</div>
  <div class="ten columns strong"><a href="https://www.meetup.com/Vilnius-js/events/266409491/">Meetup event</a></div>
</div>

<h3>Speakers</h3>
<div class="row">
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://github.com/denysdovhan">
          <img src="/img/denys_dovhan.png" alt="Denys Dovhan" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Denys Dovhan</strong>
      <div>Tips about making a pet-project</div>
    </div>
  </div>
  <div class="six columns">
    <div class="three columns">
      <div class="gravatar">
        <a href="https://www.linkedin.com/in/edgarsletinskis/">
          <img src="/img/edgars_letinskis.png" alt="Edgars Letinskis" />
        </a>
      </div>
    </div>
    <div class="nine columns">
      <strong>Edgars Letinskis</strong>
      <div>Burnout syndrome and why should you take it seriously</div>
    </div>
  </div>
</div>

<h3>Sponsors</h3>
<div class="row">
  <div class="columns">
    {% include wix.html %}
    {% include frontcon.html %}
  </div>
</div>
