<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="google-site-verification" content="Ww5EGqxWsg1rplOop-KLuJ9W0dAHScavl4JQga2FMEo" />
    <meta name="description" content="Vilnius JS - let's talk about JavaScript.">
    <link rel="shortcut icon"  href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600" rel="stylesheet" type="/text/css">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="row">
      <aside class="three columns">
        <a href="/">
          <div class="logo"></div>
        </a>
        <a class="github" href="http://github.com/vilniusjs"></a>
        <a class="twitter" href="http://twitter.com/vilniusjs"></a>
        <a class="email" href="mailto:usergroup@vilniusjs.lt"></a>
      </aside>
      <section class="nine columns">
        <h1>{{ site.title }}</h1>

        <p>
          Let's meet every month to talk about JavaScript! Client-side, server-side, any side! VilniusJS is a meetup on 3rd Tuesday each month to share the knowledge about the newest technologies, best practices, the greatest patterns and everything that is united by JavaScript.
        </p>

        <article>
          {{ content }}

          <div>
            <div class="clear">&nbsp;</div>
            <div class="left">
            {% if page.previous.url %}
              <a href="{{page.previous.url}}" title="Previous Meetup">&laquo; {{page.previous.title}}</a>
            {% endif %}
            </div>

            <div class="right">
            {% if page.next.url %}
              <a href="{{page.next.url}}" title="Next Meetup">{{page.next.title}} &raquo;</a>
            {% endif %}
            </div>
          </div>
        </article>
      </section>
    </div>

    {% include gauges.html %}
  </body>
</html>
