<!DOCTYPE html>
<html>
  <head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107167121-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107167121-1');
</script>
<script src="/js/script.js"></script>

    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="google-site-verification" content="Ww5EGqxWsg1rplOop-KLuJ9W0dAHScavl4JQga2FMEo" />
    <meta name="description" content="Vilnius JS - let's talk about JavaScript.">
    <link rel="shortcut icon"  href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600" rel="stylesheet" type="/text/css">
    <link rel="alternate" type="application/rss+xml" href="//feeds.feedburner.com/VilniusJS">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="row">
      <aside class="three columns">
        <div style="padding-left: 10px">
          <a href="/">
            <div class="logo"></div>
          </a>
          <a class="github" href="http://github.com/vilniusjs"></a>
          <a class="twitter" href="http://twitter.com/vilniusjs"></a>
          <a class="email" href="mailto:usergroup@vilniusjs.lt"></a>
          <a class="rss" href="//feeds.feedburner.com/VilniusJS"></a>
        </div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//vilniusjs.us16.list-manage.com/subscribe/post?u=e28fb96898cdc44a1454748d7&amp;id=7bdc1913da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" require style="background: white; width: 100%"d>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e28fb96898cdc44a1454748d7_7bdc1913da" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Newsletter Sign-Up" name="subscribe" id="mc-embedded-subscribe" class="button" style="width: 100%"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
      </aside>
      <section class="nine columns">
        <h1>{{ site.title }}</h1>

        <p>
          Let's meet to talk about JavaScript! Client-side, server-side, any side! VilniusJS is a meetup to share the knowledge about the newest technologies, best practices, the greatest patterns and everything that is united by JavaScript.
        </p>

        <article>
          <h2>{{ page.title }}</h2>

          {{ content }}

          <div>
            <div class="clear">&nbsp;</div>
            <div class="left">
            {% if page.previous.url %}
              <a href="{{page.previous.url}}" title="Previous Meetup">&laquo; {{page.previous.title}}</a>
            {% endif %}
            </div>

            <div class="right">
            {% if page.next.url %}
              <a href="{{page.next.url}}" title="Next Meetup">{{page.next.title}} &raquo;</a>
            {% endif %}
            </div>
          </div>
        </article>
      </section>
    </div>

    {% include gauges.html %}
  </body>
</html>
